<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/base.css">
    <link rel="stylesheet" type="text/css" href="/css/base.css">
    {% block css %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <div class="head">
            <a href="/"><div class="title">台北一日遊</div></a>
            <ul class="menu">
                <li id="booking">預定行程</li>
                <li id="login_signup">登入/註冊</li>
                <li id="logout" class="menuhide">登出系統</li>
            </ul>
            </div>
        </div>
    </header>
    <div class="buffer"></div>
    <div class="login_mark">
        <div class="user_model" id="login">
            <form class="user_form" id="login_form" action="/api/user">
                <img class="close" id="login_close" src="{{url_for('static', filename='img/icon_close.png')}}" alt="">
                <div class="top_bar"></div>
                <div class="header">登入會員帳號</div>
                <input class="input" id="login_email" type="email" placeholder="輸入電子信箱" name="email" autofocus required>
                <input class="input" id="login_password" type="password" placeholder="輸入密碼" name="password" required>
                <button class="button">登入帳戶</button>
                <small class="message" id="login_message"></small>
                <div class="link" id="signup_link">還沒有帳戶？點此註冊</div>
            </form>
        </div>
        <div class="user_model" id="signup">
            <form class="user_form" id="signup_form" action="/api/user">
                <img class="close" id="signup_close" src="{{url_for('static', filename='img/icon_close.png')}}" alt="">
                <div class="top_bar"></div>
                <div class="header">註冊會員帳號</div>
                <input class="input" id="signup_name" type="text" placeholder="輸入姓名" name="email" required>
                <input class="input" id="signup_email" type="email" placeholder="輸入電子信箱" name="email" required>
                <input class="input" id="signup_password" type="password" placeholder="輸入密碼" name="password" required>
                <button class="button">註冊新帳戶</button>
                <small class="message" id="signup_message"></small>
                <div class="link" id="login_link">已經有帳戶了？點此登入</div>
            </form>
        </div>
    </div>
    {% block main %}{% endblock %}
    <footer>
        <div>COPYRIGHT © 2021 台北一日遊</div>
    </footer>
    <script src="/js/base.js"></script>
    {% block script %}{% endblock %}
</body>
</html>