<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>台北一日遊</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <!-- <script src="/js/index.js"></script> -->
</head>
<body>
    <header>
        <div class="head">
            <div class="title">台北一日遊</div>
            <ul class="menu">
                <li>預定行程</li>
                <li>登入/註冊</li>
            </ul>
            </div>
        </div>
    </header>
    <nav>
        <div class="memo">
            <div class="memo1">輕鬆享受台北一日悠閒</div>
            <div class="memo2"><p>探索每個角落，體驗城市的深度旅遊行程</p></div>
            <form action="" class="search" id="search" method="GET" onsubmit="search();return false">
                <input type="text" class="search-input" placeholder="輸入景點名稱查詢" id="searchkeyword" onclick="this.value=''";>
                <button class="search-btn" id="searchbtn" type="button" onclick="search();"><img src="/img/search.png" alt="搜尋"></button>
            </form>
        </div>
    </nav>
    <section class="attraction-row">
        <!-- <article class="attraction-box">
            <div class="attraction-img">
                <img src="http://www.travel.taipei/d_upload_ttn/sceneadmin/pic/11000848.jpg" alt="">
            </div>
            <div class="attraction-text">
                <div class="attraction-title">新北投溫泉區</div>
                <div class="attraction-data">
                    <div class="attraction-mrt">新北投</div>
                    <div class="attraction-cat">養生溫泉</div>
                </div>
            </div>
        </article> -->
    </section>
    <footer>
        <div>COPYRIGHT © 2021 台北一日遊</div>
    </footer>
    <script src="/js/index.js"></script>
</body>
</html>